* {
  margin: 0;
  padding: 0;
}
.navbar {
  width: 100%;
  height: 75px;
  background-color: rgb(132, 132, 243);
  color: white;
  display: flex;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
  margin-left: 500px;
}

.links a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.links a:hover {
  color: black;
}
